* {
  font-family: sans-serif, Arial, Helvetica, sans-serif;
}

p {
  font-family: "Raleway", sans-serif;
}

.container {
  margin: auto;
  padding: 0 20px;
}

.clearfix {
  clear: both;
}
/* Start Header */
.main {
  background-image: url("../images/header-bg.jpg");
  background-size: cover;
  overflow: hidden;
}

.main .header-head img {
  float: left;
  margin-top: 30px;
}

.main .header-head nav ul {
  list-style: none;
  float: right;
  margin-top: 40px;
}

.main .header-head nav li {
  display: inline-block;
  margin-left: 15px;
}

.main .header-head nav li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.main .header-content {
  color: #fff;
  text-align: center;
  margin-top: 250px;
}

.main .header-content button {
  margin-top: 15px;
  padding: 20px 25px;
  text-transform: uppercase;
  margin-right: 10px;
  border: none;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}

.main .header-content button:last-of-type {
  background-color: #48bcbf;
  color: #fff;
}

.main .header-content button:last-of-type:hover {
  background-color: #87d9dd;
}

.main .header_footer {
  width: 30px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 30px;
  margin: 150px auto;
}

.main .header_footer .scroll {
  width: 5px;
  height: 15px;
  background-color: #fff;
  margin: auto;
  position: relative;
  top: 4px;
  animation: scrolling 1s linear infinite;
}

@keyframes scrolling {
  0% {
    opacity: 0;
    top: 5px;
  }

  30% {
    opacity: 1;
    top: 10;
  }

  100% {
    opacity: 0;
    top: 25px;
  }
}
/* End Header */

/* Start Be The First */
.be-the-first {
  background-image: url("../images/be-the-first-bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 200px;
  overflow: hidden;
}

.be-the-first .befirst {
  text-align: center;
  color: #fff;
  padding: 200px 0 0 0;
}

.be-the-first .befirst h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: bold;
}

.be-the-first .img-iphone {
  text-align: center;
  margin-top: 50px;
}

.be-the-first .img-iphone img {
  width: 400px;
}
/* End Be The First */

/* Start App */
.app {
  overflow: hidden;
}

.app .a1 {
  width: 30%;
  float: left;
  margin-left: 5%;
  margin-bottom: 5%;
}

.app .a1:first-of-type {
  margin-left: 0;
}

.app .a1:first-of-type hr {
  border: 2px solid #9f48bf;
}

.app .a1:nth-of-type(2) hr {
  border: 2px solid #48b1bf;
}

.app .a1:last-of-type hr {
  border: 2px solid #bedf08;
}

.app .a1 p {
  color: #666;
  line-height: 1.3;
}

.app .a1 h3 {
  text-transform: capitalize;
}
/* End App */

/* Start Pricing */
.pricing {
  padding-top: 100px;
  padding-bottom: 3%;
  background-color: #6dc0c8;
  text-align: center;
  color: #fff;
}

.pricing .pricing_flex {
  display: flex;
  justify-content: center;
}

.pricing .pricing_flex .flex_item {
  width: 30%;
  margin-top: 15px;
  transition: all 0.5s ease-in-out;
}

.pricing .pricing_flex .flex_item:hover {
  margin-top: -10px;
}

.pricing .pricing_flex .flex_item:nth-of-type(1),
.pricing .pricing_flex .flex_item:nth-of-type(3) {
  margin-top: 30px;
}

.pricing .pricing_flex .flex_item:nth-of-type(1):hover,
.pricing .pricing_flex .flex_item:nth-of-type(3):hover {
  margin-top: -10px;
}

.pricing .pricing_flex .flex_item .header_flex {
  background-color: #241d21;
  padding: 10px 0 1px 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: all 0.5s ease-in-out;
}

.pricing .pricing_flex .flex_item .header_flex h5 {
  padding-bottom: 30px;
  padding-top: 5px;
}

.pricing .pricing_flex .flex_item .header_flex h1 {
  padding-bottom: 5px;
}

.pricing .pricing_flex .flex_item .header_flex:hover {
  background-color: #333;
}

.pricing .pricing_flex .flex_item .header_flex h1 span {
  color: #66717f;
  font-size: 25px;
}

.pricing .pricing_flex .flex_item section {
  background-color: #f5f4f5;
}

.pricing .pricing_flex .flex_item section p {
  margin-top: 0;
  color: #b8b4b4;
  padding: 30px;
}

.pricing .pricing_flex .flex_item section a {
  display: block;
  margin-bottom: 45px;
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

.pricing .pricing_flex .flex_item section a:last-of-type {
  padding-bottom: 20px;
  color: #6dc0c8;
  text-transform: uppercase;
}
/* End Pricing */

/* Start Invite */
.invite {
  background-color: #eae9ea;
}

.invite .container {
  text-align: center;
  padding: 150px 0;
}

.invite img {
  width: 100px;
  height: 100px;
}

.invite h2 {
  margin-top: 40px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 35px;
}

.invite input {
  width: 300px;
  height: 50px;
  padding-left: 20px;
  margin-top: 25px;
  margin-bottom: 20px;
  border: 0;
}

.invite button {
  padding: 15px 25px;
  background-color: #6dc0c8;
  color: #fff;
  display: block;
  margin: auto;
  border: 0;
  text-transform: uppercase;
  outline: 0;
}
/* End Invite */

/* Start Info */
.info {
  padding-top: 8%;
  padding-bottom: 8%;
  background-color: #f5f4f5;
  overflow: hidden;
}

.info .info-desc {
  width: 100%;
  height: 100px;
  margin: auto;
}

.info .container hr {
  margin-top: 15px;
  opacity: 0.3;
}

.info .info-desc .info-img {
  width: 20%;
  float: left;
}

.info .info-desc .info-information {
  width: 80%;
  float: left;
}
/* End Info */
/* Start Footer */
footer {
  height: 100px;
  background-color: #f5f4f5;
  color: #999;
}
.awesome {
  float: left;
}

.awesome span {
  margin-right: 10px;
}

.awesome img {
  width: 16px;
  height: 16px;
}

.awesome img:nth-of-type(3) {
  width: 16px;
  height: 16px;
}

.data {
  float: right;
}
.data span {
  line-height: 1.5;
  display: block;
}

/* End Footer */

@media (max-width: 767px) {
  .container {
    max-width: 540px;
  }
  .be-the-first {
    height: auto;
  }
  .be-the-first .img-iphone img {
    max-width: 350px;
  }
  .app {
    overflow: hidden;
    height: auto;
  }
  .app .a1 {
    width: 100%;
    margin-left: 0;
  }
  .pricing .pricing_flex {
    display: block;
    height: auto;
  }
  .pricing .pricing_flex .flex_item {
    width: 100%;
  }
  .info {
    text-align: center;
  }
  .info .info-desc .info-img {
    width: 100%;
  }
  .info .info-desc .info-information {
    width: 100%;
  }
  footer {
    text-align: center;
  }
  .awesome {
    float: none;
    margin-bottom: 20px;
  }
  .data {
    float: none;
  }
}

/* Small Screen */
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    max-width: 720px;
  }
  .info .info-desc .info-img {
    width: 25%;
  }
  .info .info-desc .info-information {
    width: 75%;
  }
}

/* Medium Screen */
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

/* Large Screen */
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

/* X Large Screen */
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
